// 複数のコンポーネントで共有する変数

$roman-block-height: 21.5rem;

// 再利用するコード

// 白背景・グレー枠線
@mixin white-block {
  border: 0.1rem solid;
  border-color: gray;
  background: white;
}

// 薄灰色背景・グレー枠線・影付き
@mixin gray-block-shadow {
  background: whitesmoke;
  border: 0.1rem solid;
  border-color: gray;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.22);
}

// 子要素を flexbox で横方向に揃える（中央揃え）
@mixin flex-row-center {
  display: flex; // 子要素をflexboxで揃える
  flex-direction: row; // 横方向
  justify-content: center; // 水平方向中央揃え
  align-items: center; // 垂直方向中央揃え
}
